**/node_modules
**/.husky
**/.eslint*
**/prettier*
.git
.gitignore
.dockerignore
coverage
dist
backup
cache
scripts
*.md
LICENSE
Makefile
docker-compose.yml
src/site/public/*.map
src/site/vitest.config.ts
src/site/src/__tests__
